@charset 'UTF-8';

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.customContainer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 60vh;
    border: 3px solid gray;
    border-radius: 10px;
    background-color: #eaeaea;
    align-items: center;
}
.login {
    display: flex;
    margin-top: 20px;
    width: 90%;
    height: 20%;
    justify-content: flex-end;
}
.selectBox {
    width: 50%;
    text-align: right;
    
}
.lendBox {
    display: flex;
    height: 10%;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}
.btn {
    width: 60px;
    height: 36px;
    margin-left: 10px;
}
.bookList {
    display: flex;
    margin-top: 10px;
    width: 90%;
    height: 40px;
    background-color: rgb(243, 206, 118);
    margin-bottom: 50px;
    flex-direction: row;
}
.inputBox {
    width: 90%;
}
.inputText {
    width: 40%;
}
.lendableList {
    width: 90%;
    height: 70px;
    background-color: aqua;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    margin-bottom: 10px;
}
.btn-info {
    width: 80px;
    margin-right: 20px;
}
#userName {
    height: 40px;
}