@charset 'UTF-8';

.lotto {
    display: flex;
    width: 70px;
    height: 70px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    
}